[submodule "_site"]
	path = _site
	url = https://github.com/rabbitmq/rabbitmq-dotnet-client.git
	branch = gh-pages
[submodule "NetCoreServer"]
	path = projects/NetCoreServer
	url = git@github.com:chronoxor/NetCoreServer.git
	branch = 7.0.0
    ignore = untracked
